@import '../index.scss';

.button {
    color: #ffffff;
    background-color: $callToActionButton;
    padding: 5px 10px;
    height: fit-content;
    width: fit-content;
    text-transform: capitalize;
    border-radius: $borderRadius;
    cursor: pointer;
}

.button:hover {
    background-color: $darkOrange;
}